<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}" />

    {% if site.favicon %}
        <link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
        <link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
    {% endif %}
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {% include basekit.headScript %}
</head>

<body {{ isV10sSite ? 'id="migrated-site"' : '' }} class="{{ page.backgroundClass }} {% block class %}{% endblock %}">

        <!-- Main Widget Zone -->
        {% block content %}
        {% endblock %}

    {% include basekit.bodyScript %}

    {% block scripts %}
    {% endblock %}

    <script nonce="{{ numberUsedOnce }}">
        document.querySelector(".navigation-toggle").addEventListener("click", function () {
            document.querySelector(".bk-extendednavigation").classList.toggle("open");
            document.body.classList.toggle("noscroll");
        });
    
        document.querySelectorAll(".navigation-item.folder .item-name--parent").forEach(function (element) {
            element.addEventListener("click", function () {
                this.parentElement.classList.toggle("open-folder");
            });
        });
        
        document.querySelector(".header-search-icon").addEventListener("click", function () {
            document.querySelector(".bk-extendednavigation").classList.toggle("open");
            document.body.classList.toggle("noscroll blogsearch-open");
        });
    </script>

    <!-- imagesLoaded -->
    <script src="{{asset('js/imagesloaded.min.js')}}"></script>

    <!-- Masonry -->
    <script src="{{asset('js/masonry.min.js')}}"></script>

    <!-- Run Masonry -->
    <script nonce="{{ numberUsedOnce }}">
        var container = document.querySelector('.product-list');

        if (container) {
            imagesLoaded( container, function() {
                var msnry = new Masonry( container, {
                    itemSelector: '.product-item'
                });
            });
        };
    </script>

</body>
</html>
