{% extends "layout.twig" %}
{% block class %}bk-pt-home{% endblock %}
{% block content %}

<!-- Header Include -->
    {% include "includes/header.twig" %}

    <div role="main">

        <div class="row">
            <div class="column">
                {{widget('content', 'sidebarcontent', {
                    content: '<h1>Get in touch.</h1>'
                })|raw}}
            </div>
            <div class="column">
                {{widget('contactform', 'contact', {})|raw}}
            </div>
        </div>


        <div class="row">
            <div class="column">
                {{widget('gallery', 'imagegallery', {
                  'showTitle': true,
                  'showDescription': true,
                  'images':[
                    {
                      'url':'http://placehold.it/350x300',
                      'title':'First image title',
                      'description': 'First image description'
                    },
                    {
                      'url':'http://placehold.it/350x400',
                      'title':'Second image title',
                      'description': 'Second image description'
                    },
                    {
                      'url':'http://placehold.it/650x300',
                      'title':'Third image title',
                      'description': 'Third image description'
                    }
                  ]
                })|raw}}
            </div>
            <div class="column">
                {{widget('signupform', 'emailsignup', {})|raw}}
            </div>
        </div>


        <div class="container">
            <!-- Main Zone -->
            {{zone('main')|raw}}
        </div>

    </div>


    <!-- Footer Include -->
    {% include "includes/footer.twig" %}


{% endblock %}
